/*
!.gitignore

!bat/
!dotfiles/
!htop/
!inkscape/
!kitty/
!neofetch/
!nvim/
!picom/
!qutebrowser/
!rofi/
!tig/
!tmuxp/
!xmonad/
!yay/
!yarn/global/package.json
!zathura/
!zsh/

*history.json

!mimeapps.list
